:root {
	--body-padding: 15px;
}

body {
	background: no-repeat fixed center;
	background-size: cover;
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url(https://source.unsplash.com/1920x1080/?nature,water);
	color: #dbdbdb;
}

::-webkit-scrollbar {
	display: none;
}

ul {
	list-style-type: none;
}

.fa-carrot,
.fa-check,
.fa-hourglass-half {
	font-size: 2.4em;
}

.fa-wrench,
.fa-chart-pie,
.fa-angle-left {
	font-size: 1.5em;
}

.center-full {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pos-fixed {
	position: fixed;
}

.pos-abs {
	position: absolute;
}

.strikethrough {
	text-decoration: line-through;
	opacity: 0.6;
}

.tl {
	top: var(--body-padding);
	left: var(--body-padding);
}

.bl {
	bottom: var(--body-padding);
	left: var(--body-padding);
}

.container {
	min-height: 100%;
	width: 100%;
	z-index: -1;
	background: linear-gradient(180deg, rgb(32 43 56 / 80%) var(--percent-remaining), rgb(45 255 109 / 80%) var(--percent-remaining));
}

#pomodoro-timer {
	margin-top: 3rem;
}

#time-date {
	width: 100%;
	padding-top: var(--body-padding);
	z-index: 2;
	user-select: none;
}

#pomo-controls {
	display: flex;
	width: 100%;
	flex-direction: row;
}

#pomo-controls button {
	width: 100%;
	margin: 0px 10px 10px 10px;
}

#pomo-clock {
	font-family: 'JetBrains Mono', monospace;
	font-size: 10rem;
	line-height: 11rem;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 1px 5px rgba(0, 0, 0, .5);
	user-select: none;
}

#pomodoro-icons {
	left: 0;
	height: 100%;
	padding-left: calc(var(--body-padding) * 1.5);
}

#pomodoro-icons ul {
	margin: 0;
	padding: 0;
}

#pomodoro-icons ul :not(:last-child) {
	padding-bottom: 25px;
}

#project-panel {
	right: 0;
	height: 100%;
	z-index: 99;
}

#panel-list {
	background-color: #161f27;
	position: fixed;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 230px;
	right: 0;
	padding: 10px;
	overflow-y: scroll;
	z-index: 5;
}

#panel-open {
	padding-right: var(--body-padding);
	border-bottom-left-radius: 4em;
	border-top-left-radius: 4em;
	height: 4em;
	width: 1.5em;
	z-index: 5;
	background: #161f27;
	font-size: 1.5em;
	align-items: flex-end;
	position: fixed;
	right: 0;
	cursor: pointer;
	transition: right 390ms ease-out;
}

#panel-open.open {
	right: 235px;
}

#panel-open.open svg {
	transform: rotate(180deg);
}

#project-panel ul {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

.project {
	box-sizing: border-box;
	background-color: var(--background-color);
	border-radius: 15px;
	min-height: 7em;
	width: 100%;
	margin-bottom: 10px;
	z-index: 99;
	position: relative;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 1px 5px rgba(0, 0, 0, .4);
	transition: filter var(--animation-duration) linear, transform var(--animation-duration) linear;
	user-select: none;
}

.project.active {
	border: 4px solid #00baeeab;
}

.project:hover {
	filter: brightness(0.9);
}

.project:active {
	transform: translateY(2px);
}

.project .project-del-btn {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 5px;
}

.project.active .project-del-btn {
	margin: 2px;
}

.newproj-lower {
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
}

.newproj-lower button {
	width: 30%;
}

#newproj-design {
	width: 50%;
}

#todo-list {
	padding: 1.4em;
	background-color: #161f27;
	border-radius: 6px;
	font-family: sans-serif;
	font-size: 0.9rem;
	width: 420px;
}

#todo-container {
	width: 100%;
	z-index: 4;
}

.todo-item,
.new-todo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.todo-item {
	margin-bottom: 0.7em;
	padding-bottom: 0.7em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.todo-label {
	justify-content: flex-start;
	align-items: center;
	position: relative;
	padding-left: 1em;
	overflow-wrap: break-word;
	flex-grow: 1;
	cursor: pointer;
	padding-top: 8px;
	padding-bottom: 8px;
}

input.todo-label {
	padding-top: 10px;
	padding-bottom: 10px;
}

.todo-label.new {
	opacity: 0.7;
}

.todo-check {
	display: flex;
	align-items: center;
	min-width: 1em;
	width: 5% !important;
	height: 1.2em;
}

.todo-check.new {
	font-size: 1.4em;
}

.todo-btn {
	width: 8%;
}


/* Smartphone Portrait and Landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {}

@media only screen and (max-width: 960px) {}